%table.table
  %thead
    %tr
      %th
        Pilot
      %th
        Lap Time
      %th
        Lap
      %th
        Placement
  %tbody
    %tr
      %td
        Alex
      %td
        00:00:00
      %td
        2
      %td
        1
