@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "_variables";
@import "_bootswatch";

@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import "_colors";


body {
  padding: 0;
  background: $primary;
}

body > .container-fluid{
  padding-top: 75px;
  background: #FFF;
}
a, a:link, a:visited{
  font-family: 'Oswald', sans-serif;
  color: $primary;
}
a:hover, a:focus{
  color: darken($primary, 25%);
  text-decoration: none;
}


.navbar-brand, h1, h2, h3, h4{
  font-family: 'Oswald', sans-serif;
}

.navbar-brand{
  text-indent: -2000px;
  width:280px;
  height: 60px;
  display: block;
  margin-left: -15px;
  padding: 10px;
  background: $primary asset-url("erltlogo.png") no-repeat right center;
}
.navbar-default .navbar-brand{
  color: $primary;
  font-size: 1.7em;
  letter-spacing: .025em;
}
.navbar-default {
    background-color: rgb(255,255,255);
    border-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0, .4);
    box-shadow:  0 0 3px 0 rgba(0,0,0, .4);
}
.navbar-nav > li > a {
    line-height: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.navbar-default .navbar-nav > li > a , .navbar-default .navbar-nav .open .dropdown-menu > li > a{
    color: rgb(40, 40, 80);
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
  background: $primary;
  color: #fff;
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{
  max-height: 90vh;
}
.navbar-nav .open .dropdown-menu > li > a{
  font-size: 1.2em;
  line-height: 2.1em;
  border-bottom: 1px solid rgba($grey4, 1);
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
  background: $primary;
  color: #fff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border: none;
}
.navbar-default .navbar-toggle{
  border: none;
}
.navbar-default .navbar-toggle .icon-bar{
  background: $primary;
}
.navbar-toggle .icon-bar{
  height: 4px;
  width: 30px;
  border-radius: 3px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background: $primary;

    .icon-bar{
	  background: #FFF;
	}
}
.dropdownmenu{
  padding: 0;
}

@media (max-width: 600px) {
.navbar-nav > li > a {
    line-height: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 1.3em;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .1em;
	}
}




.btn{
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 1.1em;
  font-family: 'Oswald', sans-serif;
  color: #FFF;
}
a.btn{
  color: #FFF;
}
.btn-default{
  background: $grey3;
  color: #FFF;
}
.btn-primary{
  background: $grey1;
  color: #FFF;
}
.btn-primary:hover, .btn-primary:focus{
	 background: $primary;
}
.btn-warning {
    background: $primary;
    border-color: $primary;
    color: rgb(255, 255, 255);
}



textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, .form-control[type="text"]:focus, .form-control[type="password"]:focus, .form-control[type="email"]:focus, .form-control[type="tel"]:focus, .form-control[contenteditable]:focus{
  -webkit-box-shadow: 0 -2px 0 0 rgba($primary, 1) inset;
  box-shadow: 0 -2px 0 0 rgba($primary, 1) inset;
}
label{
    line-height: 36px;
    margin-right: 10px;
}


/****** SPECIALS ******/
h1, .h1{
  font-weight: 300;
  margin: 45px 0 25px 0;
}

.shared-links a:link, .shared-links a:visited{
  display: block;
  float: left;
  padding: 5px 20px 5px 0;
  color: rgba($secondary, .5);
}
.shared-links a:hover, .shared-links a:focus{
  color: $primary;
}


.panel.panel-default{
  margin-bottom: 33px;
}

.panel-heading h2{
 margin-top: 5px;
}


.table-condensed tbody tr td.smalltd{
  max-width: 85px;
  white-space: normal;
}
.table > thead > tr > td.success, .table > thead > tr > th.success, .table > thead > tr.success > td, .table > thead > tr.success > th, .table > tbody > tr > td.success, .table > tbody > tr > th.success, .table > tbody > tr.success > td, .table > tbody > tr.success > th, .table > tfoot > tr > td.success, .table > tfoot > tr > th.success, .table > tfoot > tr.success > td, .table > tfoot > tr.success > th {
    background-color: $grey4;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    border-top: 1px solid #900;
}

.breadcrumb{
 	text-align: right;
 	background: none;
 	border: none;
 	border-bottom: 1px solid rgba($grey4, .4);
 	border-radius:0px;
 	weblit-border-radius: 0px;
}

.alert-danger {
    background-color: $primary;
}
button.close{
  margin-top:  -10px;
}




footer {
  margin: 2em 0 0 0;
  padding: 2em 0 0 0;

  li {
    float: left;
    margin-right: 0;

    a, a:link, a:visited {
  		background: $primary;
  		color: #FFF;
  		font-size: 1.3em;
  		padding: 0.8em 1.3em;
	}
  }

  p {
    clear: left;
    margin-bottom: 0;
  }
}

.invalidatedlap {
  color:red;
  text-decoration:line-through;
}
