%footer
  .row
    .col-lg-12
      %ul.list-unstyled
        %li.pull-right
          %a{:href => "#top"} Back to top
      %p
        Made & Sponsored by
        = succeed "." do
          %a{:href => "http://www.airbirds.de", :rel => "nofollow"} AirBirds
      %p
        Code released under the
        = succeed "." do
          %a{:href => "http://www.gnu.org/licenses/gpl-3.0.de.html"} GPL V3
