%div{style: "padding-bottom:10px"}
  .row
    .col-xs-8
      %h1
        = @current_race_session.title
    .col-xs-12
      .pull-right
        - if !@style_setting.own_logo_image.blank?
          = wicked_pdf_image_tag(@style_setting.own_logo_image.thumb.url, height: 75)
