-if @current_race_session
  #monitor_view
    =render file:'/monitor/_view.html.haml'
- else
  .alert.alert-warning{role:"alert"}
    Sorry, there's no race at present going on.

:javascript
  setInterval(function() {
    $.get("/monitor/view", function( data ){
      $("#monitor_view").html(data);
    });
  },2000);
